{
  "language": "java",
  "jdk": "oraclejdk8",
  "sudo": false,
  "cache": {
    "directories": [
      "$HOME/.m2/repository",
      "$HOME/apache-maven-3.5.0"
    ]
  },
  "addons": {
    "apt": {
      "packages": [
        "graphviz"
      ]
    },
  },
  "before_install": [
    "export M2_HOME=$HOME/apache-maven-3.5.0",
    "if [ ! -d $M2_HOME/bin ]; then curl https://archive.apache.org/dist/maven/maven-3/3.5.0/binaries/apache-maven-3.5.0-bin.tar.gz | tar zxf - -C $HOME; fi",
    "export PATH=$M2_HOME/bin:$PATH",
  ],
  "install": [
    "chmod go-rwx -R $HOME/.m2"
  ],
  "before_script": [
    "mvn clean"
  ],
  "script": [
    "mvn verify"
  ]
}